

/* versão para todos os outros tipos de media*/

@media screen and (min-width: 768px) and (max-width: 922px) {  

    body{
        background-image: url(imagens/back-tablet.jpg);
    }

    #tablet{
        display: block;
        margin: auto;
    }

    #phone{
        display: none;
    }
}


@media screen and (min-width: 922px) and (max-width: 1200px){
    body{
        background-image: url(imagens/back-pc.jpg);
    }

    #pc{
        display: block;
        margin: auto;
    }

    #phone,
    #tablet{
        display: none;
    }
}

@media screen and (min-width: 1200px){
    body{
        background-image: url(imagens/back-tv.jpg);
    }

    #tv{
        display: block;
        margin: auto;
    }

    #phone,
    #pc,
    #tablet{
        display: none;
    }
    
}