*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    height: 100vh;
    background-color: rgb(233, 233, 233);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(0, 34, 112);
}

table{
    margin: auto;
    border-collapse: collapse;
    width: 90vw;
    height: 600px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

th, td{
    text-align: center;
    background-color: white;
}

.borda02{
    border-left: 1px solid gray;
}

span{
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
}

.aluno{
    background-color: rgb(241, 197, 127);
    color: rgb(75, 39, 12);
}

.turma{
    background-color: rgb(255, 241, 217);
    color: rgb(95, 65, 14);
}

.boa{
    background-color: rgb(190, 250, 178);
    color: rgb(38, 74, 1);
}

.cinza{
    background-color: rgb(183, 183, 183);
    color: white;
}

.borda{
    border-left: 1px solid gray;
}

thead th{
    background-color: rgb(0, 166, 255);
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}