@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
}

header{
    background-color: white;
    padding: 20px;

}

main{
    background-color: rgb(190, 190, 190);
    padding: 20px;
}

.media{
    display: flex;
    align-items: center;
}

.text{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 30px;
}

footer{
    background-color: white;
    padding: 20px;
}

@media screen and (max-width: 750px){
    .media{
        flex-wrap: wrap-reverse;
    }

    .text{
        flex-wrap: wrap;
    }

    .elementos-media{
        margin-bottom: 40px;
    }
}