.container{
    background-color: gray;
    display: flex;
    flex-flow: row wrap;
}

.items{
    background-color: rgb(87, 172, 247);
    border: 1px solid black;
    text-align: center;
    flex-basis: 150px;
}