*{
    box-sizing: border-box;
}

h1{
    font-size: 50px;
    text-align: center;
    color: brown;
}

p{
    font-size: 20px;
    text-align: center;
}

#h2{
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; 
}

div{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

li{
    list-style: none;
    font-size: 20px;
}




